* {
  font-family: "Public Sans Web", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #e7e7e7;
  --color: #e7e7e7;
  --color2: #222222;
  --primary-color: #36517c;
  --secondary-color: #802929;
  --nav-color: #000000;
  --bg-color: #17171b;
  --seccondary-bg-color: #f6f6f6;
}

main {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  background: var(--nav-color);
  backdrop-filter: blur(10px);        
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.h1 {
  margin: 0.2rem 0;
  font-weight: 650;
  text-decoration: none;
}

.h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color);
  text-decoration: none;
}

.h2:hover {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-decoration-thickness: 0.25rem;
  color: var(--color);

}

a {
  text-decoration: none;
  color: var(--color);
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.25rem;
  color: var(--color);
}

.fa-circle-arrow-right:hover {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.25rem;
  color: var(--color);
}


a:visited {
  color: var(--color);
}

section {
  padding: 2rem 1rem;
  background: var(--bg-color);
  backdrop-filter: blur(10px);        
  -webkit-backdrop-filter: blur(10px);
}

section.hero {
  padding: 4rem 1rem;
  background: var(--bg-color);
  backdrop-filter: blur(10px);        
  -webkit-backdrop-filter: blur(10px);
}

.skill-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4rem;
  overflow: hidden;
}

.skill-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 20%;
  height: 4%;
  padding: 0.5rem;
}



.skill-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer {
  position: fixed;
    bottom: 0;
    width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  padding-bottom: 1rem;
  background: var(--nav-color);
  backdrop-filter: blur(10px);        
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
